<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="index.html"><img class="main-logo" src="logo.png" alt="" style="height: 55px;width:30px;" /></a>
            <strong><img src="img/logo/logosn.png" alt="" /></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                            <li><a title="Dashboard v.1"><span class="mini-sub-pro">Canciones guardadas</span></a></li>
                    <li></li>
                            <li><a title="Dashboard v.2" href="/albumes"><span class="mini-sub-pro">Album y artista</span></a></li>
                            <li><a title="Product List" href="/playlist"><span class="mini-sub-pro">playlist</span></a></li>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>